.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fredoka', cursive;
  background-image: url("/public/birou.jpg");
  /* Full height */


/* Center and scale the image nicely */

background-repeat: no-repeat;



}

.Login{
  /* The image used */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fredoka', cursive;
  background-image: url("/public/birou.jpg");
  /* Full height */
min-width: 100%;
min-height: 100%;
position: fixed;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

input{
  border-radius: 25px;
  background: #e0f3c5;
  padding: 10px;
  width: 200px;
  height: 10px;

}
h1{
  background-color: rgba(255, 236, 236, 0.3);
  color: rgb(7, 8, 63);
  background-blend-mode: lighten;
  backface-visibility: hidden;
  padding: 10px;
  width: 200px;
  border-radius: 25px;
  height: 40px;

}

button {
  display: inline-block;
  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-left: 39%;
  margin-top: 5%;
  outline: none;
  color: rgb(2, 0, 0);
  background-color: #f8e7e7;
  border: none;
  font-family: 'Fredoka', cursive;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}
button:hover {background-color: #bbb8b8}

button:active {
  background-color: #d3dbd3;
  box-shadow: 0 5px rgb(102, 102, 102);
  transform: translateY(4px);
}
