.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
    background-image: url("/public/birou.jpg");
    background-size:cover;
    background-repeat : no-repeat;
    height: 100vh;

 
}
