.Dashboard {
  position: absolute;
  background-color: rgb(38, 136, 228);
  left: 0;
  top: 0;
  width: 400px;
  min-height: 800px;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fredoka";
}
.Account {
  position: relative;
  margin-top: 0;
  margin-left: 90%;
  width: fit-content;
  display: block;

  align-items: right;
}
.Information {
  position: relative;
  height: 50px;
  align-items: center;
  margin-left: 20%;
}
.tableUsers {
  position: absolute;
  top: 15%;
  left: 3%;
  padding: 9px;
}
.tableHeader {
  background-color: rgb(95, 95, 95);
  color: white;
  padding: 0.5em 1em;
  border-color: rgb(0, 0, 0);

  text-decoration: none;
  text-transform: uppercase;
}
.element1 {
  align-items: center;
  display: flex;
  align-content: center;
  height: 15%;
  width: 90%;
}
.element2 {
  align-items: center;
  align-content: center;
  display: flex;
  height: 15%;
  width: 90%;
}
.lblAdmin {
  margin-top: 10px;
  text-shadow: 1px;
  tab-size: 20px;
}
.buttonMenu {
  align-content: center;
  display: block;
  font-size: large;
  padding: 1rem 1rem;

  margin-left: 10%;
}
